OPENAI_API_KEY=
GEMINI_API_KEY=
GROQ_API_KEY=
FIREBASE_CREDENTIALS_PATH=firebase-adminsdk.json

# Konfiguracja SMTP do wysyłania transkrypcji na e-mail z poziomu serwera
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=twojadomena@gmail.com
SMTP_PASSWORD=abcd-efgh-ijkl-mnop
